*~
*.user
*.suo
*.bak
*.log
*.sdf
*.o
*.ivec
*.project
*.ipch
*.jfm
*.dbmdl
*.exe
build
build_tmp
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
*.slite3
*.lic
*.pyc
*_no_doc*
build_logs
changelog.html
.idea/
.vs/
_release
packages
amd64
Output/*
*/*/bin
*/*/obj
*/*/publish
/*/publish
*/.vscode/*
/NuGetFiles/*

Output/
[Oo]utput/
[Pp]ublish/

src/GrpcCamera/stream-out/*